footer {
<<<<<<< HEAD
    background-color: $tertiary;
=======
    background-color: $cream;
>>>>>>> main
    font-size: 0.8rem;
    color: $bodyText;
    text-align: center;
    padding: 20px 0;
<<<<<<< HEAD
}
=======
    color: black;
}
>>>>>>> main
