header {
  // background-image: url('../assets/pokemon-background.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: bottom;
      background-color: $dirtyWhite;

}

.header-text{
  font-size: 2rem;
  text-align: center;
  padding: 250px;
}
