/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .pokemon-display {
        padding: 150px 0;
    }

    .pd-container {
        padding: 0;
    }

    form {
        #poke-dropbox {
            width: 75%;
        }
    }

    .contact {
        font-size: 1.5rem;

        a {
            font-size: 1.5rem;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    nav {
        ul {
            justify-content: space-between;

            a {
                margin: 20px;
                padding: 20px;
            }
        }
    }

    .header-text {
        padding: 250px 0;
    }

    form {
        #poke-dropbox {
            font-size: 1rem;
        }
    }

    .contact {
        .wrapper {
            flex-direction: column;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    nav {
        ul {
            a {
                margin: 0;
            }
        }
    }

    .pd-container {
        flex-direction: column;
    }

    form {
        padding: 50px 0;

        #poke-dropbox {
            width: 100%;
        }
    }
}