nav {
    font-size: 1rem;
    line-height: 1.45rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $primary;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            display: inline-block;
            margin: 20px 0 20px 20px;
            padding: 20px 0 20px 20px;
            transition: 0.5s;
            cursor: pointer;

            &:hover,
            &:focus {
                color: $tertiary;
            }
        }
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}