// Site fonts

// font-family: 'VT323', monospace;

$Font: "VT323";
// Site colours

// COLOURS:
// Primary background: #ff0000
// Secondary background: #0011ff
// Box-shadings and footer: #009921
// Text: #ffffff

$primary: #ff0000;
$secondary: #0011ff;
$tertiary: #009921;
$bodyText: #ffffff;